.reduceListSpace{
    line-height: 0.5rem;
}
.removeLineBreak{
    display: inline;
}
.oContainer{
    display: flex;
    flex: 1;
    align-self: stretch;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.hideComma{
    display: none;
}
@media (max-width: 980px){
    .reduceListSpace{
        line-height: 0.8rem;
    }
}
@media (max-width: 600px) {
    .hideComma{
        display: inline;
    }
    .reduceListSpace{
        line-height: 0;
        margin-bottom: 0.5rem;
    }
    .removeLineBreak{
        line-height: 0rem;
        margin-top: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .oContainer{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}