.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 0;
    
}

.title{
    font-family: 'Roboto Slab', serif;
    font-size: 30;
}

.text{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.line{
    width: 2.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-bottom: 1.3px solid black;
    border-radius: 2px;
    }

.row{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
