@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 200;
    src:
      local('Proxima'),
      local('proxima-nova-soft-regular'),
      url(../../assets//proxima-nova-soft-regular.otf) format('opentype'),
  }
  
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 0;
    overflow: hidden;
}

.title{
    font-family: 'PT Serif', serif;
    font-size: 30;
}

.text{
    font-size: 1rem;
    font-family: 'Proxima Nova', sans-serif;
}

.line{
    width: 2.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-bottom: 2px solid black;
    border-radius: 2px;
    }

.row{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

.content{

    opacity: 0;
    transform: translateY(10px);
    transition: all 1s ease-out
}
.content.fade-in{
    opacity: 1;
    transform: translateY(0);
}
