.container{
  position: relative;
  height: 100vh;
}
.background {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 33%;
  margin: 0;
  background-color: #d8c3a5;
  text-align: center
}
.typist{
    font-size: 2em;
    color: #e98074;
}
.typePos{
  width: 80rem;
  height: 3rem;
  top:-34px;
  left: 3rem;
  z-index: 999;
  position: relative;
  text-align: left;
}
