.container{
  margin-top: 40vh;
}
.typist{
    flex-wrap: wrap;
    width: 90vw;
}
.typePos{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: 3rem;
  left: 2rem;
  position: relative;
  text-align: left;
}

