.footer{
    position: relative;
    margin-top: 2.8rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 10rem;
    background-color: #F5F5F5;
    /* background-color: red; */
}

@media (max-width: 500px) {
    .footer{
        height: 7rem;
    }
}