
.card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-basis: 1;
  background: rgb(121,191,211,0.3);
  margin: 10px;
  border-radius: 10px;
  width: 40vw;
  height: 40vw;
  max-width: 30rem;
  max-height: 30rem;
}
    
@media (max-width: 500px) {
  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-basis: 1;
    background: rgb(121,191,211,0.3);
    margin-top: 10px;
    
    
    border-radius: 10px;
    width: 80vw;
    height: 80vw;
    /* max-width: 30rem;
    max-height: 30rem;       */
    }
}