.imgContainer{
    position: relative;
    width: 100vw;
    padding-top: calc((2154/4002)*100);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    margin-bottom: 1rem;

}
.imgStyling{
    width: 100%;
    height: auto;
}
@media (max-width: 40rem) {
    .imgStyling{
        width: 100%;
    }
}