.imgContainer{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;

}
.imgStyling{
    width: 100%;
    height: auto;
}
@media (max-width: 40rem) {
    .imgStyling{
        width: 100%;
    }
}