.container{
  margin-top: 17rem;
}
.typist{
    flex-wrap: wrap;
    width: 85vw;
}
.typePos{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: 2rem;
  left: 1rem;
  position: relative;
  text-align: left;
}

@media (max-width: 40rem) {
  .typePos{
    left: 0;
  }
}
