.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6f6f6;
    font-size: 0; 
}

.about{
    flex: 1;
    width: 100%;
    text-align: center ;
    opacity: 0;
    transform: translateY(2px);
    transition: all 0.75s ease-out
}
.about.fade-in{
    opacity: 1;
    transform: translateY(0);
}

.whatIDo{
    width: 100%;
    height: 100%;
    text-align: center ;
    background-color: #4C5C6A;
}

.more{
    width: 100%;
    text-align: center ;
    background-color: "#DEDFDF";
}
