
a, div{
    text-decoration: none;
    color: #4d4b49;
    font-size: calc(10px + 2vmin);
    font-weight: thin
}

a:hover{
    color:black;
}
@media (max-width:700px)  { 
    .hideHead{display: none}
  }

  @media (max-width:900px)  { 
    .hideLinks{display: none}
  }