.App-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: white;
  }
  .appTitle {
    font-family: 'PT Serif', serif;
    padding-top: 40;
    font-size: 1.5em;
  }
  .headerList{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
  }
  .avatar{
    width: 100px;
    height: 100px;
    background-color: #222
  }