
@media (max-width:700px)  { 
    .hideHead{
      display: none;
    }
  }
.header{
 
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.hideIcons{
  display: none;
}


  @media (max-width:1030px)  { 
    .hideLinks{display: none}
    .hideIcons{display: inline;}
  }
  