
@media (max-width:700px)  { 
    .hideHead{
      display: none;
    }
  }
.header{
  transition: top 0.75s ease-in-out;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.active{
  border-bottom: 1px solid rgb(121, 191, 211, 0.3);
}

.navUp {
  top: -4.35rem;
}

.hideIcons{
  display: none;
}



  @media (max-width:1030px)  { 
    .hideLinks{display: none}
    .hideIcons{display: inline;}
  }
  