.introAndImg{
    display: flex;
    /* background-color: black; */
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3.45rem;
    margin-left: 7rem;
    margin-right: 7rem;
    width: 75vw;
    /* max-height: 40rem; */
    overflow: hidden;
    margin-bottom: 2rem;
}
.introCont{ 
    flex:4/7;   
    padding-right: 1rem;  
  }

.aboutImg{
    flex: 3/7;
    width:100%;
    min-width: 19rem;
    max-width: 23rem;
    height:auto;
    object-fit: contain;
    overflow: hidden;
}

@media (max-width: 980px) {
    .introAndImg{
        margin-top: 3rem;
        flex-direction: column-reverse;
        align-self: center;
        align-items: center;
       
    }
    .introCont{
        padding-right: 0;
    }
    .aboutImg{
        margin-bottom: 0.5rem;
    }

}