.serif{
    font-family: 'PT Serif', serif;
    font-size: 1.4rem;   
    color: #888888;

}

.title{
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    color: #737373

}

.subtitle{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    color: #888888;

}
.reduceSpace { margin-top: 0.2rem; margin-bottom: 0.2rem }


@media (max-width: 500px) {
    .serif{
        font-size: 1.1rem;       
    }
    
    .title{
        font-family: 'Nunito', sans-serif;
        font-size: 1.1rem;
        color: #737373
    
    }
    
    .subtitle{
        font-family: 'Nunito', sans-serif;
        font-size: 0.9rem;
        color: #888888;
    
    }
  }


.light{
    color: #F5F5F5
}

.secondary{
    color: #888888
}
.primary{
    color: #737373
}

.highlight{
    color: rgb(121,191,211,0.3)
}

.marker {
    display: inline-block;
    position: relative;    
    
}
.marker:before{
    z-index: -1;
    display: inline-block;
    position: absolute;
    background: #79BFD3;
    opacity: 0.3;
    content: "";
    height: 40%;
    width: 100%;
    transform:  translatey(0.2em);
}


.onHov{
    text-decoration: none;
    transition: 0.5s;
  }
  
.onHov:hover{
    color:#444;
    transition: 0.5s;
  
  }