body {
 
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
html, body, .overall {height: 100%}


a{
  color: #888888;
  text-decoration: none;
  transition: 0.5s;

}

a:hover{
  color:#444;
  transition: 0.5s;

}

a:visited {
  color: #888888;
  transition: 0.5s;
}
a:visited:hover {
  color:#444;
  transition: 0.5s;
}


