body {
  display: flex;
  flex-direction: column;
  flex:1;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: calc(12px + 2vmin);
  color: #4d4b49;


}
a{
  color: #4d4b49;
  text-decoration: none;
}

a:hover{
  color:black;
  transition: 0.5s;

}



.info{
  text-align: end;
  padding-right: 50px;
}

.moveButton{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.header{
  position: absolute;
  left: 0;
  bottom: top;
  width: 100%;
  z-index: 900;
  text-align: center;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 900;
    text-align: center;
  
}
