body {
  display: flex;
  flex-direction: column;
  flex:1;
  margin: 0;
  background-color: #fafafa  ;
  font-family: 'IBM Plex Mono Light', monospace;
}


.moveButton{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.header{
  position: fixed;
  left: 0;
  bottom: top;
  width: 100%;
  z-index: 900;
  text-align: center;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 900;
    text-align: center;
  
}
